html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  text-align: center;
  color: #242424;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: #575757;
  transition: color 0.1s ease;
}

a:hover {
  color: black;
}

.section {
  background-color: #fafafa;
  padding-top: 1px;
  padding-bottom: 50px;
  border-radius: 1em;
  margin: 10px 10px;
}



/* Navigation bar */

#navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border-radius: 0.7em;
}

.nav-button {
  float: left;
}

.contact-button {
  float: right;
}

.nav-button > a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.9em 2em;
  transition: background-color 0.3s ease;
  border-radius: 0.7em;
}

.nav-button > a:hover {
  background-color: #111111;
}



/* Footer section */

#footer {
  text-align: center;
}

#email {
  color: #004fb0;
  transition: color 0.1s ease;
}

#email:hover {
  color: #000000;
}

#footer-links {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}

#footer-links > li {
  display: inline;
  margin: 0 5%;
  font-size: 2.5em;
}

#footer-code {
  margin-top: 50px;
  display: block;
  font-style: normal;
  color: #575757;
}

#github-link {
  border-bottom: 1px dotted #575757;
}



/* Responsive design */

@media (min-width: 1152px) {
  body {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
  .nav-button > a {
    padding: 0.9em 1em;
  }
}

@media (max-width: 475px) {
  .nav-button > a {
    padding: 0.9em 0.75em;
  }
}

@media (max-width: 400px) {
  .nav-button > a {
    padding: 0.9em 0.5em;
  }
}